{% extends 'nucleus/base.html' %}

{% block title %}Update Profile - Amicus Project{% endblock %}

{% block content %}
    <h2>Update Your Profile</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ profile_form.non_field_errors }}
        {% for field in profile_form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" name="update_profile">Update Profile</button>
    </form>

    <h2>Change Password</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ password_form.non_field_errors }}
        {% for field in password_form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" name="change_password">Change Password</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}